<!--
 * @Author: your name
 * @Date: 2020-04-11 13:48:19
 * @LastEditTime: 2020-04-11 21:22:09
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \Node-React-MongoDB-TodoList-master\views\index.ejs
 -->
<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div id="root"></div>
		<script src="/js/bundle.js"></script>
	</body>
</html>
